@import '~@blueprintjs/core/src/common/variables';

.tab {
  margin-right: 5px !important;
}

.button {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-color: transparent !important;

  &:hover {
    background: none !important;
  }
}

.effect {
  transition: color 0.5s ease-out;
}

.close {
  @extend .effect;
  &:hover {
    color: $pt-intent-danger !important;
  }
}

.plus {
  @extend .effect;
  &:hover {
    color: $pt-intent-success !important;
  }
}
